#editor
{
    position: absolute;
    top: 56px;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.progress
{
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.progress.visible
{
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.progress-bar
{
  transition: none;
}

.animated
{
  transition-property: width;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: initial;
}

pre
{
  background-color: rgba(245, 245, 245, 0.8);
}

.auto-width
{
  width: auto;
}

.menu
{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.menu div ul
{
  margin: 0;
}

.menu, .btn-toolbar
{
  padding: 5px;
}

.contentRow
{
  position: absolute;
  display: table;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 40px;
}

.editor-locked
{
  position: absolute;
  margin-left: -4px;
  padding-right: 4px;
  box-sizing: content-box;
}

.editor-locked.proving
{
  background-color: rgba(200, 200, 0, 0.2) !important;
}

.editor-locked.proved
{
  background-color: rgba(0, 200, 0, 0.2) !important;
}

.saveResult,
.loginFailure,
.loginSuccess
{
  cursor:default;
}

html, body, .contentRow
{
    height: 100%;
    margin: 0;
}

body
{
    background: url('../img/coqlogo.png') no-repeat 90% 95%;
    width: 100%;
}

.resizable-e
{
  position: absolute;
  left: 0px;
  top: 40px;
  bottom: 0px;
  width: 66%;
  border-right: 1px solid #AAA;
}

.sidediv
{
  padding: 0 10px;
  margin: 0;
  position: absolute;
  left: 66%;
  right: 0px;
  bottom: 0px;
  top: 56px;
  overflow-y: auto;
  overflow-x: hidden;
}

#coq-result, #coq-tree, #coq-warnings
{
  overflow: auto;
  overflow-y: hidden;
  word-wrap: normal;
}

.file-item .glyphicon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-top: 3px;
}

.file-item .glyphicon.glyphicon-refresh {
  margin-left: 5px;
}

.file-item .label {
  margin-top: 3px;
}

.label-dead {
  background-color: rgb(20, 20, 20);
}

.ace_keyword {
  color: rgb(147, 15, 128);
}

.ace_identifier {
  color: rgb(177, 47, 158);
}

.ace_name {
  color: rgb(144, 8, 15);
}

.ace_proofweb {
  color: rgb(30, 157, 182);
}

.ace_operator, .ace_dot {
  color: rgb(150, 150, 150);
}

.ace_comment {
  color: #236e24;
}

.ace_numeric {
  color: rgb(107, 45, 228);
}
